<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!--/*@thymesVar id="title" type="java.lang.String"*/-->
  <title th:text="${title}">Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <style>
    body {
      margin: 0;
      padding: 0;
      min-width: 600px;
      min-height: 400px;
    }
  </style>
</head>
<body>
<div class="container">
  <!--/*@thymesVar id="title" type="java.lang.String"*/-->
  <h1 th:text="${title}"></h1>
</div>
<script th:inline="javascript">
  /*<![CDATA[*/
  $(function () {
    $('html').keyup(function (e) {
      if (e.which === 37) {
        window.location.href = /*[[${backUrl}]]*/ '/index';
      }
    });
  });
  /*]]>*/
</script>
</body>
</html>