<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--/*@thymesVar id="title" type="java.lang.String"*/-->
  <title th:text="${title}">Title</title>
  <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
  <script src="/webjars/popper.js/1.14.1/umd/popper.min.js"></script>
  <script src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <link href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
<div class="container">
<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<h1 th:text="${title}"></h1>
</div>
</body>
</html>