<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!--/*@thymesVar id="title" type="java.lang.String"*/-->
  <title th:text="${title}">Title</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
<div class="container">
  <h1>Upload File</h1>
  <form enctype="multipart/form-data" th:action="@{/upload}" method="post">
    <div class="form-group">
      <label>FileName:</label>
      <label>
        <input type="text" name="fileName"/>
      </label>
    </div>
    <div class="form-group">
      <label>FilePath:</label>
      <label>
        <input type="file" name="file"/>
      </label>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">アップロード
      <i class="material-icons right"></i>
    </button>
  </form>
</div>
</body>
</html>