<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--/*@thymesVar id="title" type="java.lang.String"*/-->
  <title th:text="${title}">Title</title>
  <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
  <script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
<div class="container">
  <h1>Upload File</h1>
  <form enctype="multipart/form-data" th:action="@{/upload}" method="post">
    <div class="form-group">
      <label>FileName:</label>
      <label>
        <input name="fileName" />
      </label>
    </div>
    <div class="form-group">
      <label>FilePath:</label>
      <input type="file"  name="file" />
    </div>
    <div class="form-group">
      <input id="data_upload_button" type="submit" value="アップロード"/>
    </div>
  </form>
</div>
</body>
</html>