<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!--/*@thymesVar id="title" type="java.lang.String"*/-->
  <title th:text="${title}">Title</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<!--/*@thymesVar id="body" type="java.lang.String"*/-->
<div class="container" th:utext="${body}"></div>
<script th:inline="javascript">
  /*<![CDATA[*/
  $('body').click(function () {
    window.location.href =  /*[[${forwardUrl}]]*/ '/index';
  });

  $(function () {
    $('html').keyup(function (e) {
      switch (e.which) {
        case 39:
          window.location.href = /*[[${forwardUrl}]]*/ '/index';
          break;

        case 37:
          window.location.href = /*[[${backUrl}]]*/ '/index';
          break;
      }
    });
  });
  /*]]>*/
</script>
</body>
</html>